<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link href="/stylesheets/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container" style="position: relative;">
        <a class="navbar-brand" href="/" style="position: relative; left: 100px;">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <a class="navbar-brand fs-4" href="/restaurants/new" style="position: absolute; right: 125px;">
          <i class="far fa-plus-square"></i>
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <main>
    <div class="btn-group" style="position: absolute; right: 478px; top: 423px; z-index: 999;">
      <button class="btn btn-dark bg-transparent text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        排序方式
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/restaurants/sort/A-Z">名稱 ( A <i class="fas fa-arrow-right"></i> Z )</a></li>
        <li><a class="dropdown-item" href="/restaurants/sort/Z-A">名稱 ( Z <i class="fas fa-arrow-right"></i> A )</a></li>
        <li><a class="dropdown-item" href="/restaurants/sort/category">類別 ( category )</a></li>
        <li><a class="dropdown-item" href="/restaurants/sort/rating">評分 ( rating <i class="fas fa-star"></i> )</a></li>
      </ul>
    </div>
    {{{body}}}
  </main>

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/bootstrap.bundle.js"></script>
  <script src="/javascripts/validate.js"></script>
</body>

</html>